/* ----- Imports Font ----- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* ----- Reset All ----- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ----- Colors ----- */
:root {
    --color-primary: #FF0000;
    --color-background: #111827;
    --color-background-secondary: #1F2937;
    --color-text: #ffffff;
    --color-text-secondary: #6B7280;
    --color-text-transparent: rgba(255, 255, 255, 0.1);
    --color-text-transparent-hover: rgba(255, 255, 255, 0.2);
}


/* ----- Font ----- */
body {
    font-family: 'Inter', sans-serif;
}


/* ----- Page ----- */
body {
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    padding: 24px 40px;
}

@media (max-width: 768px) {
    body {
        padding: 8px 16px;
    }
}

.container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* ----- Global ----- */
section {
    border-radius: 12px;
    margin: 12px;
    background-color: var(--color-background-secondary);
}

a {
    text-decoration: none;
}

span::selection, img::selection, a::selection {
    background-color: transparent;
}


/* ----- Header ----- */
header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav section {
    height: 56px;
}


/* ----- Logo ----- */
nav .logo {
    width: 176px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}

nav .logo img {
    width: 100%;
    min-width: 24px;
}

nav .logo .logo-desktop {
    display: block;
}

nav .logo .logo-mobile {
    display: none;
}

@media (max-width: 900px) {
    nav .logo {
        width: 56px;
        padding: 0 16px;
    }

    nav .logo .logo-desktop {
        display: none;
    }

    nav .logo .logo-mobile {
        display: block;
    }
}


/* ----- Search ----- */
nav .search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 16px;
    gap: 16px;
}

nav .search span {
    color: var(--color-text-secondary);
    font-size: 20px;
    font-weight: 500;
}

nav .search input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    border-radius: 0 12px 12px 0;
}
nav .search input:focus {
    outline: none;
}

nav .search input::placeholder {
    color: var(--color-text-secondary);
}
nav .search input:focus::placeholder {
    color: var(--color-text);
}


/* ----- Menu ----- */
.menu {
    width: 112px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    nav .menu {
        display: none;
    }
}

.menu a {
    height: 22px;
}

.menu span {
    color: #ffffff;
    font-size: 22px;
}


/* ----- Solo Menu ----- */
nav .solo-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

@media (min-width: 544px) {
    nav .solo-menu {
        display: none;
    }
}

nav .solo-menu span {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    margin: 0 19px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


/* ----- User ----- */
nav .user {
    width: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 544px) {
    nav .user {
        display: none;
    }
}

nav .user .menu-button {
    display: none;
}
nav .user .notif-button {
    display: block;
}

@media (max-width: 768px) {
    nav .user .menu-button {
        display: block;
    }
    nav .user .notif-button {
        display: none;
    }
}

nav .user span {
    color: #ffffff;
    font-size: 22px;
    margin: 0 17.5px;
    cursor: pointer;
}

nav .user img {
    border-radius: 12px;
    height: 100%;
    cursor: pointer;
}

nav .user .a-avatar {
    height: 56px;
}


/* ----- Menu Mobile ----- */
.menu-mobile {
    display: none;
}

.menu-mobile.visible {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-secondary);
}

.menu-mobile a {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    gap: 16px;
    transition: background-color 200ms;
}
.menu-mobile a:first-child {
    border-radius: 12px 12px 0 0;
}
.menu-mobile a:last-child {
    border-radius: 0 0 12px 12px;
}

.menu-mobile a:hover {
    background-color: hsla(0,0%,100%,0.1);
}

@media (min-width: 544px) {
    .menu-mobile a:last-child {
        display: none;
    }

    .menu-mobile a:nth-child(3) {
        border-radius: 0 0 12px 12px;
    }
}


/* ----- Filters ----- */
.filter {
    height: 52px;
    flex-grow: 1;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 11px 12px;
    overflow: overlay;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter button {
    height: 100%;
    background-color: var(--color-text-transparent);
    padding: 6px  12px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 200ms;
}
.filter button:hover {
    background-color: var(--color-text-transparent-hover);
}
.filter button.active {
    background-color: var(--color-text);
    color: var(--color-background);
}






.movies-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movies-container a {
    width: calc((100% - 144px)/6);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin: 12px;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .movies-container a {
        width: calc((100% - 96px)/4);
    }
}

@media (max-width: 768px) {
    .movies-container a {
        width: calc((100% - 72px)/3);
    }
}

@media (max-width: 480px) {
    .movies-container a {
        width: calc((100% - 48px)/2);
    }
}

.movies-container a:hover {
    transform: scale(1.075);
    transition: transform 600ms;

}

.movies-container a .poster {
    position: relative;
    display: inline-block;
}

.movies-container a .poster img {
    display: block;
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.movies-container a .poster p {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline;
    padding: 2px 6px;
    margin: 0 8px 8px 0;
    background-color: rgba(9, 9, 11, 0.6);
    font-weight: medium;
    font-size: 12px;
    border-radius: 12px;
    color: #ffffff;
}

.movies-container a .movie-infos {
    height: 74px;
    padding: 12px;
    background-color: #1F2937;
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.movies-container a .movie-infos h1 {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    max-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.movies-container a .movie-infos p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

footer {
    display: flex;
    flex-direction: row;
}

footer section {
    height: 60px;
    background-color: #1F2937;
}

footer .loader {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader img {
    width: 45px;
    height: 45px;
}

footer .legal {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.legal p {
    font-size: 16px;
    color: #ffffff;
}

.legal p a {
    color: #ffffff;
    text-decoration: none;
}

.legal .small-legal {
    display: none;
}

@media (max-width: 688px) {
    .legal p {
        display: none;
    }

    .legal .small-legal {
        display: block;
    }  
}

.legal p a:hover {
    text-decoration: underline;
}


/* ----- Movie Info ----- */

.no-iframe {
    display: flex;
    flex-direction: row;
}

.infos {
    width: 100%;
}

.i-poster {
    width: 50%;
    max-width: 500px;
    display: flex;
}

.i-poster img {
    width: 100%;
    border-radius: 12px;
}

.title {
    display: flex;
    align-items: center;
    padding: 12px;
}

.title h1 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.date-director, .time, .genres {
    height: 28px;
    display: flex;
    align-items: center;
    padding: 12px;
    min-height: 32px;
}

.date-director p, .time p, .genres p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
    line-height: 1.4;
}

.date-director {
    flex-grow: 1;
}

.genres {
    flex-grow: 2;
}

.star-favorite {
    height: 28px;
}

.trailer {
    display: flex;
}

.trailer iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

hr {
    border: 0;
    height: 2px;
    width: calc(100% - 24px);
    margin: 12px;
    border-radius: 12px;
    background-color: #ffffff;
}

.infos-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.t-desk {
    display: none;
}

.sinopsis {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.sinopsis p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
    line-height: 1.4;
}

.no-trailer {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-trailer p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .t-desk {
        display: block;
    }

    .t-mobile {
        display: none;
    }
}
