@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 28px 44px;
    display: flex;
    justify-content: center;
    background-color: #111827;
}
@media (max-width: 768px) {
    body {
        padding: 10px 16px;
    }
}

.container {
    max-width: 1264px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

section {
    border-radius: 12px;
    margin: 12px;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav section {
    height: 60px;
}

nav .logo {
    width: 188px;
    background-color: #FF0000;
    display: flex;
    align-items: center;
    padding: 0 22px;
}

nav .logo img {
    width: 100%;
    display: block;
}

nav .logo .logo-court {
    display: none;
}

@media (max-width: 900px) {
    nav .logo {
        width: 60px;
        padding: 0 18px;
    }

    nav .logo .logo-text {
        display: none;
    }
    
    nav .logo .logo-court {
        display: block;
    }
    
}

nav .search {
    flex-grow: 1;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 8px;
}

nav .search span {
    color: #6B7280;
    font-size: 20px;
    font-weight: 500;
    margin-right: 5px;
}

span::selection, img::selection {
    background-color: transparent;
}

nav .search input {
    width: 100%;
    height: 100%;
    background-color: #1F2937;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

nav .search input::placeholder {
    color: #6B7280;
}

nav .search input:focus::placeholder {
    color: #ffffff;
}

nav .search input:focus {
    outline: none;
}

@media (max-width: 580px) {
    nav .search {
        width: 60px;
    }

    nav .search input {
        display: none;
    }
}

nav .menu {
    width: 120px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .menu span {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    margin: 0 19px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 720px) {
    nav .menu {
        display: none;
    }
}

nav .user {
    width: 120px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user span {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    margin: 0 19px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user img {
    border-radius: 12px;
}


.filter {
    height: 52px;
    flex-grow: 1;
    background-color: #1F2937;
}


.movies-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movies-container a {
    width: calc((100% - 144px)/6);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin: 12px;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .movies-container a {
        width: calc((100% - 96px)/4);
    }
}

@media (max-width: 768px) {
    .movies-container a {
        width: calc((100% - 72px)/3);
    }
}

@media (max-width: 480px) {
    .movies-container a {
        width: calc((100% - 48px)/2);
    }
}

.movies-container a:hover {
    transform: scale(1.1);
    transition: transform 600ms;

}

.movies-container a .poster {
    position: relative;
    display: inline-block;
}

.movies-container a .poster img {
    display: block;
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.movies-container a .poster p {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline;
    padding: 2px 6px;
    margin: 0 8px 8px 0;
    background-color: rgba(9, 9, 11, 0.6);
    font-weight: medium;
    font-size: 12px;
    border-radius: 12px;
    color: #ffffff;
}

.movies-container a .movie-infos {
    height: 74px;
    padding: 12px;
    background-color: #1F2937;
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.movies-container a .movie-infos h1 {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    max-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.movies-container a .movie-infos p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

footer {
    display: flex;
    flex-direction: row;
}

footer section {
    height: 60px;
    background-color: #1F2937;
}

footer .loader {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader img {
    width: 45px;
    height: 45px;
}

footer .legal {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.legal p {
    font-size: 16px;
    color: #ffffff;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.legal p a {
    color: #ffffff;
    text-decoration: none;
}

.legal p a:hover {
    text-decoration: underline;
}